*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000000;
}
.blob
{
    position: absolute;
    width: 500px;
    height: 500px;
}
.blob:nth-child(2)
{
    filter: blur(100px);
}
.text
{
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 50px;
    height: 220px;
    z-index: 1;
    color: white;
    mix-blend-mode: overlay;
}
.text2
{
    font-family: "Montserrat", sans-serif;
    font-size: 70px;
    height: 160px;
    z-index: 2;
    color: white;
    mix-blend-mode: overlay;
}
.text3
{
    position: absolute;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 30px;
    height: 0px;
    z-index: 3;
    color: white;
    mix-blend-mode: difference;
}